* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto slab";
    background-color: #DDFFBB;
}

h1, a, p, h2, h3, li {
    font-style: none;
    list-style: none;
}

.container {
    padding: 0px 84px;
}

header {
    width: 100px;
    height: 71px;
    border-bottom: 2.5px solid #DDFFBB;
    background-color: rgba(245, 245, 245, 0.7);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left img {
    float: left;
    height: 78px;
    width: 165.75px;
}

.header-right a {
    text-decoration: none;
    color: #254A99;
}

.header-right li {
    float: left;
    padding-left: 55px;
    line-height: 71px;
    font-size: 20px;
    font-weight: 500;    
}

.header-right a:hover {
    color: azure;
    transition: all 0.3s;
}

.header-right {
    float: right;
}

.intro {
    height: 550px;
}

.intro h2 {
    margin-top: 210px;
    color: aquamarine;
    font-size: 33px;
    font-weight: 500;
}

.intro h1 {
    color: aquamarine;
    font-size: 78px;
    margin-bottom: 10px;
    margin-top: 11px;
}

.intro p {
    font-size: 16px;
    color: rgba(75, 75, 75, 0.856);
    margin-bottom: 3px;
    text-align: left;
}

.intro img {
    float: right;
    position: relative;
    top: -340px;
    height: 493px;
}

.btn-intro {
    background-color: aqua;
    color: #fff;
    width: fit-content;
    padding: 10px 40px;
    font-size: 25px;
    border-radius: 52px;
    margin-top: 30px;
    opacity: 0.75;
}

.btn-intro:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s;
}

.profile {
    height: 823px;
    background-color: #26a99a;
}

.pict-profile {
    border-radius: 50px;
    width: 500px;
    height: 500px;
    border: 17px solid #fff;
    margin: 98px 49px 98px 0;
}

.contents-profile {
    display: flex;
    flex-direction: row;
}

.info-cv h2 {
    font-size: 46px;
    margin-top: 175px;
    margin-bottom: 42px;
}

.info-cv p {
    padding-top: 3px;
    font-size: 21px;
}

.info-cv h2,p {
    width: 600px;
    text-align: center;
    color: white;
}

.btn-cv {
    text-align: center;
    margin-top: 45px;
}

.btn-cv input {
    background-color: aliceblue;
    width: 266px;
    height: 60px;
    color: #26a99a;
    font-size: 26px;
    font-family: "Roboto slab";
    border-radius: 52px;
    font-weight: bold;
    border: none;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0,3s;
}

.btn-cv input:hover {
    opacity: 1;
}

.main {
    width: 100%;
}

.main-wrapper {
    background-color: white;
    width: 1033px;
    height: 470px;
    margin: -100px auto;
    border-radius: 33px;
    box-shadow: 0 2px 2px,0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
}

.main-wrapper h1 {
    text-align: center;
    padding: 3px 0 39px 0;
    font-size: 56px;
    color: aliceblue;
}

.skills {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 100px 0 100px;
}

.skill {
    margin: 0 auto;
}

.skill h2 {
    color: aliceblue;
    margin: 36px 0 12px 0;
}

.skill p {
    color: #6d6d6d;
    width: 200px;
    font-size: 13px;
}

.section1 {
    text-align: center;
    color: aliceblue;
    margin-top: 150px;
    font-size: 60px;
}

.section2 {
    padding-top: 20px;
    color: aliceblue;
    margin: 0 auto;
    font-size: 21px;
}

.project-result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 1033px;
    height: 524px;
    margin: 50px auto;
    border-radius: 33px;
    box-shadow: 0 2px 2px p rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0,0, 0, 0.08);
}

.detail-web {
    width: 605px;
    margin: 89px 20px 102px 115px;
}

.pict-web {
    width: 178px;
    margin: 65px 88px 65px 20px;
}

.detail-web h1 {
    color: #fa881c;
}

.detail-web p {
    color: #6d6d6d;
    text-align: left;
    width: 550px;
    margin-top: 18px;
    line-height: 30px;
}

.btn-web {
    background-color: aquamarine;
    color: #fff;
    width: fit-content;
    padding: 14px 30px;
    font-size: 25px;
    border-radius: 52px;
    margin-top: 30px;
    opacity: 0.75;
    font-size: medium;
}

